<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
    email:<%= @user.email %><br>
    Licence No:<%= @user.LicenceNo %><br>
    Registered Dive number: <%= @count_divings %> 
  </div>
  <BR>
  <div class="name text-center">  
  <%= link_to 'Log new dive', new_diving_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div style="margin-top: 30px; margin-bottom:30px;">
      <center>
      <table width=80%>
        <tr>
          <th style="border-bottom: 1px solid #ddd;">DiveNo</th>
          <th style="border-bottom: 1px solid #ddd;">Date</th>
          <th style="border-bottom: 1px solid #ddd;">Dive In</th>          
          <th style="border-bottom: 1px solid #ddd;">Location</th>
        </tr>
    <% @divings.each do |diving| %>
        <tr>
          <% if diving.DiveNo.empty? %>          
            <td style="border-bottom: 1px solid #ddd;"><%= link_to "#", diving_path(diving.id) %></td>          
          <% else %>        
            <td style="border-bottom: 1px solid #ddd;"><%= link_to diving.DiveNo, diving_path(diving.id) %></td>          
          <% end %>          
          <td style="border-bottom: 1px solid #ddd;"><%= diving.DiveDate %></td>
          <% if diving.DiveOut.nil? %>
            <td style="border-bottom: 1px solid #ddd;"></td>
          <% else %>
            <td style="border-bottom: 1px solid #ddd;"><%= diving.DiveIn.to_s(:time) %></td>
          <% end %>
          <td style="border-bottom: 1px solid #ddd;"><%= diving.location %></td>
        </tr> 
    <% end %>
      </table>  
    <div> 
    <%= paginate @divings %>
    </div> 
    </center>
  </div>
</div>