<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Dive Log</div>
      <div class="panel-body">
        <%= form_for(@diving) do |f| %>
          <div class="form-group">
            <%= f.label :DiveNo, 'DiveNo' %>:
            <%= @divings.DiveNo %>
          </div> 
      
          <div class="form-group">
            <%= f.label :DiveDate, 'Date' %>:
            <%= @divings.DiveDate %>
          </div>

          <div class="form-group">
            <%= f.label :DiveIn, 'Time In' %>:
            <%= @divings.DiveIn %>
          </div>

          <div class="form-group">
            <%= f.label :DiveOut, 'Time Out' %>:
            <%= @divings.DiveOut %>
          </div>

          <div class="form-group">
            <%= f.label :location, 'Location/Point' %>:
            <%= @divings.location %>
          </div>

          <div class="form-group">
            <%= f.label :MaxDepth, 'Max depth' %>:
            <%= @divings.MaxDepth %>
          </div>

          <div class="form-group">
            <%= f.label :AvgDepth, 'Average depth' %>:
            <%= @divings.AvgDepth %>
          </div>

          <div class="form-group">
            <%= f.label :WaterTemp, 'Water temparature' %>:
            <%= @divings.WaterTemp %>
          </div>

          <div class="form-group">
            <%= f.label :Transparancy, 'Transparancy' %>:
            <%= @divings.Transparancy %>
          </div>

          <div class="form-group">
            <%= f.label :Memo, 'Memo' %>:
            <%= @divings.Memo %>
          </div>
        <% end %>
        </form>
      </div>
    </div>
  </div>
</div>