<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Dive Log</div>
      <div class="panel-body">
        <%= form_for(@diving) do |f| %>
          <div class="form-group">
            <%= f.label :DiveNo, 'DiveNo' %>
            <%= f.label :DiveNo, @divings.DiveNo, class: 'form-control' %>
          </div> 
      
          <div class="form-group">
            <%= f.label :DiveDate, 'Date' %>
            <%= f.label :DiveDate, @divings.DiveDate, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :DiveIn, 'Time In' %>
            <%= f.label :DiveIn, @divings.DiveIn, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :DiveOut, 'Time Out' %>
            <%= f.label :DiveOut, @divings.DiveOut, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :location, 'Location/Point' %>
            <%= f.label :location, @divings.location, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :MaxDepth, 'Max depth' %>
            <%= f.label :MaxDepth, @divings.MaxDepth, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :AvgDepth, 'Average depth' %>
            <%= f.label :AvgDepth, @divings.AvgDepth, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :WaterTemp, 'Water temparature' %>
            <%= f.label :WaterTemp, @divings.WaterTemp, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :Transparancy, 'Transparancy' %>
            <%= f.label :Transparancy, @divings.Transparancy, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :Memo, 'Memo' %>
            <%= f.label :Memo, @divings.Memo, class: 'form-control' %>
          </div>
        <% end %>
        </form>
      </div>
    </div>
  </div>
</div>